.productItem__div {
  width: 20%;
  min-width: 250px;
  max-width: 270px;
  height: 35em;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 2em;
  border-radius: 1em;
  margin: 1em;
  transition: all 0.2s;
  /* background-color: rgba(255, 192, 203, 0.225); */
  /* background-color: rgba(163, 155, 155, 0.127); */
  box-shadow: 1px 1px 3px rgba(87, 80, 80, 0.564),
    -1px -1px 3px rgba(86, 78, 78, 0.542);
  position: relative;
}

.productItem__div:hover {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.71),
    -1px -1px 4px rgba(0, 0, 0, 0.703);
  transition: all 0.2s;
}

.product__img {
  width: 100%;
  box-shadow: 2px 2px 2px rgba(86, 76, 76, 0.456),
    -2px -2px 2px rgba(88, 79, 79, 0.456);
  height: 50%;
  border-radius: 1em;
  overflow: hidden;
}

.product__img a > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.product_info__div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40%;
}

.product__title {
  padding: 1em 0 0 0.5em;
  font-size: 1.8em;
  text-transform: capitalize;
}

.product_price__div {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 1em;
}

.prodcut__price {
  font-size: 1.6em;
  font-weight: 500;
  margin-right: 0.5em;
}

.product__mrp {
  text-decoration: line-through;
  color: gray;
  font-size: 1.3em;
}
